/* Primary light color: #FFFFFF */
/* Secondary light color: #F5F4FA */
/* Hero&Footer background color: #2F303A */
/* Focus color: #2196F3; */
/* Primary dark color: #212121 */
/* Secondary dark color: #757575 */
/* Tretiary dark color: color: rgba(255, 255, 255, 0.6); */

/* Colors variables */
:root {
  --primary-light: #ffffff;
  --secondary-light: #f5f4fa;
  --hero-footer-background: #2f303a;
  --focus: #2196f3;
  --hero-focus: #188ce8;
  --primary-dark: #212121;
  --secondary-dark: #757575;
  --tretiary-dark: rgba(255, 255, 255, 0.6);
}

/* Utilities */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;

  background-color: var(--primary-light);
  color: var(--primary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo.link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway, sans-serif;
}

.logo .particle {
  color: var(--focus);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Button Utilities */

.button {
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  text-align: center;

  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.button.primary {
  background-color: var(--focus);
  color: var(--primary-light);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--hero-focus);
  color: var(--primary-light);
}

.button.secondary {
  background-color: var(--secondary-light);
  color: var(--primary-dark);

  padding: 6px 22px;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--focus);
  color: var(--primary-light);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-pages {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav-contacts {
  display: flex;
  margin-left: auto;
  gap: 40px;

  color: var(--secondary-dark);
}

.icon {
  fill: currentColor;
}

.nav-pages .current {
  color: var(--focus);
}

.nav-pages .link,
.nav-contacts .link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-pages .link:hover,
.nav-contacts .link:hover {
  color: var(--focus);
}

.nav-contacts .icon {
  margin-right: 10px;
}

/* Main Studio */
/* Sections */

.section-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-footer-background);
  background-image: linear-gradient(
      0,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("/images/studio/hero.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero .container {
  text-align: center;
}

.hero .button {
  padding: 10px 24px;
  min-width: 200px;
  min-height: 50px;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-light);
}

/* Out benefits */

.benefits.list {
  display: flex;
  gap: 30px;
}

.benefits .item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefit-thumb {
  background-color: var(--secondary-light);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.benefit-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefit-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-dark);
}

/* Our product */

.section.product {
  padding-top: 0;
}

.product .list {
  display: flex;
  gap: 30px;
}

/* Out Team */

.section.team {
  background-color: var(--secondary-light);
}

.team.list {
  display: flex;
  gap: 30px;
}

.team .item {
  flex-basis: calc((100% - 90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-light);
}

.employee-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee.title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-dark);
}

.employee.description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-dark);
}

.social-item {
  width: 44px;
  height: 44px;

  color: var(--secondary-dark);
}

.social-item:hover {
  background-color: var(--focus);
  border-radius: 50%;
  color: var(--primary-light);
}

.social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-links:hover {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Main Portfolio */

.filter .list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project.item {
  flex-basis: calc((100% - 60px) / 3);
}

.project.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-box {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.project-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-dark);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-background);
}

.footer .logo,
.footer .address {
  color: var(--primary-light);
}

.footer .logo {
  display: block;
  margin-bottom: 28px;
}

.footer-address .item {
  margin-bottom: 12px;
}

.footer-address .item:last-child {
  margin-bottom: 0;
}

.footer-address .link:hover {
  color: var(--focus);
}

.footer .email,
.footer .phone {
  color: var(--tretiary-dark);
}

.footer-address .link {
  display: block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
